

main {
    margin-top: 50px;
}

h1 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.leaflet-container {
    height:100%;
    position: relative;
}

#map {
    height: 500px;
}

#submit-button {
    margin-top: 25px;
}

.results {
    margin-top: 10px;
}